@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

.body {
  @apply m-0 p-0 overflow-x-hidden;
}

a {
  @apply transition-all duration-300;
}

a:hover {
  @apply font-semibold text-yellow-500;
}

section {
  @apply my-24 px-10 lg:max-w-[1200px] lg:mx-auto;
}

h1 {
  @apply text-black-900 text-5xl font-bold;
}

h2 {
  @apply text-black-900 text-3xl font-semibold;
}

h3 {
  @apply text-black-900 text-2xl font-semibold;
}

p {
  @apply text-black-900 text-lg;
}
